:root {
  --textColor: #222222;
  --lightThemeColor: #f2eee9;
  --heavyThemeColor: #928f8a;
  --linkColor: #0073e0;
}

.draggedOver {
  z-index: 2;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
