:root {
  --textColor: #222222;
  --lightThemeColor: #f2eee9;
  --mediumThemeColor: #c7c5c0;
  --heavyThemeColor: #928f8a;
  --linkColor: #0073e0;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-size: 16px;
  font-family: 'Courier New', 'Courier', 'monospace';
}

.widthWrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.addPadding {
  padding: 20px;
}

.nice_text {
  white-space: pre-wrap;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

a {
  color: var(--linkColor);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--heavyThemeColor);
}

.topWrapper {
  position: relative;
  z-index: 1;
}

.backBtn {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  color: var(--textColor);
  background: var(--lightThemeColor);
  text-decoration: none;
}

.flexSplit {
  display: flex;
  flex-direction: row;
}

.flexSplit > * {
  flex: 1;
  margin: 0 5px;
}

.flexSplit > *:first-child {
  margin-left: 0;
}

.flexSplit > *:last-child {
  margin-right: 0;
}

.layoutWrapper {
  position: relative;
  padding-bottom: 50px;
}

*:focus {
  z-index: 1;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 157, 255, 0.7);
}

::placeholder {
  color: #eaeaea;
  opacity: 1;
}

.spinner {
  margin: 0 -26px -26px 0;
  height: 26px;
  width: 26px;
  animation: rotation 0.6s infinite linear;
  border-left: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid rgba(255, 255, 255, 1);
  border-radius: 100%;
}

.spinner.takeSpace {
  margin: 0;
}

.spinner.center {
  margin: 0 auto -26px auto;
}

.spinner.center.takeSpace {
  margin: 0 auto;
}

.spinner.onWhite {
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid rgba(0, 0, 0, 0.3);
}

.spinner.onBtn {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
