.recipeWrapper {
  position: relative;
}

.recipeImage {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.recipeContent {
  padding: 20px;
}

.recipeContent h1 {
  margin-top: 10px;
}

.recipeSubHeadline {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
}

.recipe ul,
.recipe ol {
  margin-top: 0;
  margin-bottom: 10px;
}

li {
  padding: 10px 0;
}

li.headline {
  cursor: default;
  font-weight: bold;
  margin-top: 20px;
  min-height: 40px;
}

.recipeIngredientsStepsWrapper {
  margin-top: 30px;
}

.recipeEditBtn {
  float: left;
  margin-top: 10px;
}

.delRecipeBtn {
  float: right;
}

@media screen and (min-width: 600px) {
  .recipeIngredientsStepsWrapper {
    display: flex;
    align-items: flex-start;
  }
  .recipeIngredientsStepsWrapper .recipeIngredientsWrapper {
    width: 45%;
  }

  .recipeIngredientsStepsWrapper .recipeStepsWrapper {
    width: 55%;
  }
}

.recipe__sourceLink {
  word-break: break-word;
}
