.recipeLink {
  display: block;
  position: relative;
  font-size: 1.2em;
  margin: 30px 0;
  background-color: var(--lightThemeColor);
  border-radius: 3px;
  text-decoration: none;
  overflow: hidden;
}

.recipeLinkImage {
  position: relative;
  background-color: var(--lightThemeColor);
  background-image: url('/static/img/cooking.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60%;
}

.recipeLinkImage.noImage {
  background-size: 40%;
  background-color: var(--mediumThemeColor);
}

.recipeLinkText {
  padding: 20px;
  font-size: 25px;
  color: var(--textColor);
  font-weight: bold;
}

.recipeLinkDesciption {
  padding: 0 20px 20px 20px;
  color: var(--textColor);
}

@media screen and (min-width: 600px) {
  .recipesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipeLink {
    width: 48%;
  }
}

@media screen and (min-width: 1000px) {
  .recipeLink {
    width: 31%;
  }
}
