//colors
$textColor: #222;
$backgroundColor: #fff;
$themeColor: #0073b6;
$secondaryColor: #85ab1b;
$retailOnlyRed: #da1721;

//measurements
$headerHeight: 5rem;

$breakPointExtraSmall: 250px;
$breakPointSmall: 768px;
$breakPointMedium: 960px;
$breakPointLarge: 1280;
$breakPointExtraLarge: 1920px;
